.loading {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    @media (max-width: 630px) {
      .loading-icon > svg {
        width: 100px;
        height: 100px;
      }
    }
  }
  
  .btns {
    justify-content: end;
  }
  
  .container {
    width: 600px;
  
    @media (max-width: 1100px) {
      width: 100%;
      padding: 10px;
  
      h2 {
        font-size: 27px;
      }
  
      .input {
        padding: 8px;
      }
    }
  }
  
  .input {
    padding: 12px;
  }
  
  .edit-btn {
    background-color: rgb(45, 45, 45);
    color: #fff;
  }
  
  .page-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100%;
    @media (max-width: 630px) {
      padding: 1rem;
    }
  }


  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    color: #333;
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navicon {
    font-size: 24px;
    color: #fff;
}

#logo {
    height: 40px; /* Ajuste a altura conforme necessário */
    margin-right: 8px; /* Espaço entre a logo e o texto */
    vertical-align: middle; /* Alinha a logo verticalmente com o texto */
}

#nav_list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 48px;
    text-decoration: none;
}

.nav_item a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

section {
    padding: 28px 8%;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
}

header {
    padding: 28px 8%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0; 
    background-color: #FF5A1F;
    z-index: 3;
}

h1, h2 {
  color: #2b3a42;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#home {
  display: flex;
  min-height: calc(100vh - 91px);
  position: relative;
  background-image: url(../assets/imagem-fundo.png);
  background-size: cover;
  height: 700px;
}

#cta {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 5%;
}

#cta .title {
  font-size: 3rem;
  color: #fff;
}

#cta .title span {
  color: #e9a209;
}

#cta .descricao {
  font-size: 1.2rem;
  color: #fff;
}

#cta_botao {
  display: flex;
  
  gap: 24px;
}

#cta_botao a {
  background-color: #ff6b35;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

button {
  background-color: #ff6b35;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btnPadrao {
  background-color: #ff6b35;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

button:hover {
  background-color: #ff5a1f;
}

/* Navbar */
.navbar {
  background-color: #ff6b35;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 8px 8px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Gráfico */
#grafico_inss {
  margin: 40px 0;
}

.footer {
  background-color: #1F2873;
  color: #ffffff;
  padding: 20px 40px;
}

.logos {
  display: flex;
  margin-left: 70px;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* Distribui o conteúdo horizontalmente */
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

/* Logo */
.footer-left {
  margin-right: 20px;
}

.footer-logo {
  width: 70px;
  height: auto;
}

/* Links organizados em coluna */
.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 10px;
  margin-bottom: 8px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #007bff;
}

/* Copyright no canto inferior direito */
.footer-content {
  position: relative;
  padding-bottom: 40px; /* Espaço para o copyright */
}

.footer-content::after {
  content: "Todos os direitos reservados - Copyright ©️ Razão Social";
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  color: #d1d1d1;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .footer-left {
      margin-bottom: 15px;
  }
  .footer-links {
      align-items: center;
  }
  .footer-content::after {
      position: static; /* Move o copyright para o centro em telas menores */
      margin-top: 15px;
      text-align: center;
  }
}