<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação INSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="/static/assets/GRP branding.LOGOMARCA.png" type="image/x-icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <nav id="navbar">
            <a href="{{ url_for('sobre') }}"><img src="../static/assets/GRP branding.LOGOMARCA.png" alt="Logo" id="logo"></a>
            <ul id="nav_list">
                <li class="nav_item"><a href="{{ url_for('sobre') }}">Home</a></li>
                <li class="nav_item"><a href="#">Dúvidas e Suporte</a></li>
                <li class="nav_item"><a href="{{ url_for('getUser') }}">Meu Perfil</a></li>
                <li class="nav_item"><a href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </nav>
    </header>
    <nav id="navbar-calculadora">
        <ul id="list">
            <div class="veja-tambem">
                <span>Veja também:</span>
            </div>
            <li class="nav-list">
                <a href="{{ url_for ('desejada')}}">Renda Desejada</a>
            </li>
            <li class="nav-list">
                <a href="{{ url_for ('possivel')}}">Renda Possível</a>
            </li>
        </ul> 
    </nav>

    <div class="container">
        <div class='titulo'>
            <h1>Planeje sua Renda Futura do INSS</h1> 
            <h4>Planeje e Calcule sua Renda Futura em 3 etapas</h4>
            <p>Associe a sua projeção do INSS a sua carteira de investimentos <br>
                gerando sua Renda DESEJADA e/ou Renda POSSÍVEL</p>
        </div>

        <!-- Div para a Calculadora 1 - INSS -->
        <div class="calculadora">
            <h2 style="text-align: center;">Cálculadora de Previdência Privada</h2>
            <form action="{{ url_for('gerar_relatorio') }}" method="POST" enctype="multipart/form-data">
                <div class="custom-select" id="custom-select">
                    <div class="selected">Selecione o sexo</div>
                    <ul class="options">
                      <li data-value="1">Masculino</li>
                      <li data-value="0">Feminino</li>
                    </ul>
                    <input type="hidden" name="sexo" id="sexo" required>
                </div>
        
                <div class="form-group">
                    <label for="salario_bruto">Salário Bruto Atual (R$):</label>
                    <input type="number" name="salario_bruto" id="salario_bruto" min="0" required>
                </div>
        
                <div class="form-group">
                    <label for="cnis_file">Upload CNIS</label>
                    <input type="file" name="cnis_file" accept=".pdf" id="cnis_file">
                </div>
        
                {% if error %}
                <div class="error-message">
                    <strong>{{ error }}</strong>
                </div>
                {% endif %}
        
                <div class="button-class">
                    <button type="submit" class="botao_padrao">Calcular Benefício INSS</button>
                </div>
            </form>
        </div>
        
        <div class="titulo">
            <h4>Após a geração do cálculo, nosso sistema realizará a geração de um download automático do seu relatório em PDF</h4>
        </div>
    </div>

    <footer class="footer">
        <!-- Logo Centralizada -->
        <div class="footer-logo">
            <img src="/static/assets/GRP branding.LOGOMARCA.png" alt="Logo">
        </div>
        
        <!-- Links Centralizados -->
        <div class="footer-links">
            <a href="https://guiarendaprevidencia.com.br/app-quemsomos/">Quem Somos</a>
            <a href="https://guiarendaprevidencia.com.br/como-funciona/">Como Funciona</a>
            <a href="https://guiarendaprevidencia.com.br/duvidas-comuns-app/">Dúvidas Comuns</a>
            <a href="https://guiarendaprevidencia.com.br/politicas-de-privacidade-app/">Política de Privacidade</a>
            <a href="https://guiarendaprevidencia.com.br/fale-conosco-app/">Fale Conosco</a>
        </div>
    
        <!-- Direitos Reservados Centralizados -->
        <div class="footer-copyright">
            GRP 2024 © P&D DIGITAL LTDA. Todos os direitos reservados. CNPJ: 44.325.141/0001-50
        </div>
    </footer>
    
    
</body>
</html>

<script>
    document.querySelectorAll('.options li').forEach(function(item) {
        item.addEventListener('click', function() {
            const value = item.getAttribute('data-value');
            const displayText = item.innerText;
            
            // Atualiza o valor selecionado
            document.querySelector('.selected').innerText = displayText;
            document.querySelector('#sexo').value = value;
        });
    });
</script>
