<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação INSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="/static/assets/GRP branding.LOGOMARCA.png" type="image/x-icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <nav id="navbar">
            <a href="{{ url_for('sobre') }}"><img src="../static/assets/GRP branding.LOGOMARCA.png" alt="Logo" id="logo"></a>
            <ul id="nav_list">
                <li class="nav_item"><a href="{{ url_for('sobre') }}">Home</a></li>
                <li class="nav_item"><a href="{{ url_for('ia') }}">Consulte nossa AI</a></li>
                <li class="nav_item"><a href="{{ url_for('getUser') }}">Meu Perfil</a></li>
                <li class="nav_item"><a href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </nav>
    </header>
    <nav id="navbar-calculadora">
        <ul id="list">
            <div class="veja-tambem">
                <span>Veja também:</span>
            </div>
            <li class="nav-list">
                <a href="{{ url_for ('desejada')}}">Renda Desejada</a>
            </li>
            <li class="nav-list">
                <a href="{{ url_for ('possivel')}}">Renda Possível</a>
            </li>
        </ul> 
    </nav>

    <div class="container">
        <div class='titulo'>
            <h1>Planeje sua Renda Futura</h1> 
            <h4>Calcule sua Renda Futura em 3 Etapas</h4>
            <p>Calcule a projeção de Renda do INSS e associe a sua Renda DESEJADA e/ou Renda POSSÍVEL <br>
                verificando o impacto no seu esforço de investimento.</p>
        </div>

        {% if slbr or sx or cnis_file %}
        <div class="calculadora">
            <h2 style="color: #FF4500;">Calculadora de Renda da Previdência do INSS</h2>
            <form action="{{ url_for('gerar_relatorio') }}" method="POST" enctype="multipart/form-data" id="calculadora-form">
                <div class="custom-select" id="custom-select">
                    <div class="selected">PREENCHER CAMPO SEXO</div>
                    <ul class="options">
                      <li data-value="1">Masculino</li>
                      <li data-value="0">Feminino</li>
                    </ul>
                    <input type="hidden" name="sexo" id="sexo" value="{{ sx if sx else 0 }}">
                </div>

                {% if error_sexo %}
                <div class="error-message">
                    <strong style="color: red; padding-bottom: 20px;">{{ error_sexo }}</strong>
                </div>
                {% endif %}
        
                <div class="form-group" style="margin-top: 20px;">
                    <label for="salario_bruto">Salário Bruto Atual (R$):</label>
                    <input type="text" name="salario_bruto" id="salario_bruto"  value="{{ slbr if slbr else 0 }}" placeholder="Digite um número inteiro maior OU igual a ZERO">
                </div>
                {% if error_salario %}
                <div class="error-message">
                    <strong style="color: red;">{{ error_salario }}</strong>
                </div>
                {% endif %}
        
                <div class="form-group">
                    <label for="cnis_file">Carregue CNIS</label>
                    <input type="file" name="cnis_file" accept=".pdf" id="cnis_file" value="{{ cnis_file if cnis_file else None }}">
                </div>
        
                {% if error %}
                <div class="error-message">
                    <strong style="color: red;">{{ error }}</strong>
                </div>
                {% endif %}
        
                <div class="button-class" style="display: flex;">
                    <button type="submit" name="submit-button" value="1" id="submit-button1">Calcular Benefício INSS</button>
                
                    <button type="submit" name="submit-button" value="2" id="submit-button2" style="margin-left: 20px;">Gerar PDF</button>
                    
                    <p style="margin-left: 20px; color: #555555;">Download do relatório “GRP-Análise Previdência”, clique em ‘Gerar PDF’ e aguarde. 
                    </p>
                </div>
                

            </form>

            {% if error_relatorio %}
            <div class="error-message">
                <strong style="color: red;">{{ error_relatorio }}</strong>
            </div>
            {% endif %}
        </div>
        
        {% else %}
        <div class="calculadora">
            <h2 style="color: #FF4500;">Calculadora de Renda da Previdência do INSS</h2>
            <form action="{{ url_for('gerar_relatorio') }}" method="POST" enctype="multipart/form-data" id="calculadora-form">
                <div class="custom-select" id="custom-select">
                    <div class="selected">PREENCHER CAMPO SEXO</div>
                    <ul class="options">
                      <li data-value="1">Masculino</li>
                      <li data-value="0">Feminino</li>
                    </ul>
                    <input type="hidden" name="sexo" id="sexo">
                </div>

                {% if error_sexo %}
                <div class="error-message">
                    <strong style="color: red; padding-bottom: 20px;">{{ error_sexo }}</strong>
                </div>
                {% endif %}
        
                <div class="form-group" style="margin-top: 20px;">
                    <label for="salario_bruto">Salário Bruto Atual (R$):</label>
                    <input type="text" name="salario_bruto" id="salario_bruto" value="0" placeholder="Digite um número inteiro maior OU igual a ZERO">
                </div>
                {% if error_salario %}
                <div class="error-message">
                    <strong style="color: red;">{{ error_salario }}</strong>
                </div>
                {% endif %}
        
                <div class="form-group">
                    <label for="cnis_file">Carregue CNIS</label>
                    <input type="file" name="cnis_file" accept=".pdf" id="cnis_file">
                </div>
        
                {% if error %}
                <div class="error-message">
                    <strong style="color: red;">{{ error }}</strong>
                </div>
                {% endif %}
        
                <div class="button-class" style="display: flex;">
                    <button type="submit" name="submit-button" value="1" id="submit-button1">Calcular Benefício INSS</button>
                
                    <button type="submit" name="submit-button" value="2" id="submit-button2" style="margin-left: 20px;">Gerar PDF</button>
                    
                    <p style="margin-left: 20px; color: #555555;">Download do relatório “GRP-Análise Previdência”, clique em ‘Gerar PDF’ e aguarde. 
                    </p>
                </div>
                

            </form>

            {% if error_relatorio %}
            <div class="error-message">
                <strong style="color: red;">{{ error_relatorio }}</strong>
            </div>
            {% endif %}
        </div>
        
        {% endif %}
        
        {% if atntv %}
        <div class="titulo">
            <h4>Alternativas de Aposentadoria com Informações do CNIS</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered align-middle">
                <thead class="table-dark">
                    <tr>
                        {% for col_name in atntv[0].keys() %}
                            <th scope="col">{{ col_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in atntv %}
                        <tr>
                            {% for value in row.values() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
        {% endif %}
        
        <div class="titulo">
            <h4>Duvidas! CONSULTE nossa AI clicando em ícone nesta página! </h4>
        </div>
    </div>

    <footer class="footer">
        <!-- Logo Centralizada -->
        <div class="footer-logo">
            <img src="/static/assets/GRP branding.LOGOMARCA.png" alt="Logo">
        </div>
        
        <!-- Links Centralizados -->
        <div class="footer-links">
            <a href="https://guiarendaprevidencia.com.br/app-quemsomos/">Quem Somos</a>
            <a href="https://guiarendaprevidencia.com.br/como-funciona/">Como Funciona</a>
            <a href="https://guiarendaprevidencia.com.br/duvidas-comuns-app/">Dúvidas Comuns</a>
            <a href="https://guiarendaprevidencia.com.br/politicas-de-privacidade-app/">Política de Privacidade</a>
            <a href="https://guiarendaprevidencia.com.br/fale-conosco-app/">Fale Conosco</a>
        </div>
    
        <!-- Direitos Reservados Centralizados -->
        <div class="footer-copyright">
            GRP 2024 © P&D DIGITAL LTDA. Todos os direitos reservados. CNPJ: 44.325.141/0001-50
        </div>
    </footer>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const selectedSexo = document.querySelector('#sexo').value;
            const selectedTextElement = document.querySelector('.selected');
    
            // Atualiza o texto exibido com base no valor atual de #sexo
            if (selectedSexo === '1') {
                selectedTextElement.innerText = 'Masculino';
            } else if (selectedSexo === '0') {
                selectedTextElement.innerText = 'Feminino';
            } else {
                selectedTextElement.innerText = 'PREENCHER CAMPO SEXO';
            }
    
            // Adiciona o evento de clique para cada opção de sexo
            document.querySelectorAll('.options li').forEach(function(item) {
                item.addEventListener('click', function() {
                    const value = item.getAttribute('data-value');
                    const displayText = item.innerText;
                    
                    // Atualiza o valor selecionado
                    selectedTextElement.innerText = displayText;
                    document.querySelector('#sexo').value = value;
                });
            });
        });
    </script>
    
</body>
</html>

<style>
    .table-responsive {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

/* Estilo geral da tabela */
.table {
    width: 90%;
    border-collapse: collapse;
    background-color: #d3d3d3; /* Fundo escuro */
    color: #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Cabeçalho da tabela */
.table thead {
    background-color: #FF4500; /* Cabeçalho cinza escuro */
    text-transform: uppercase;
    color: #fff;
}

.table thead th {
    padding: 14px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid #4a6278;
    text-align: center;
}

/* Corpo da tabela */
.table tbody tr {
    border-bottom: 1px solid #d3d3d3;
}

.table tbody tr:hover {
    background-color: #4a6278; /* Efeito hover */
    cursor: pointer;
}

.table tbody td {
    padding: 12px;
    font-size: 16px;
    text-align: center;
}

/* Bordas */
.table-bordered {
    border: 1px solid #4a6278;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #4a6278;
}

/* Estilo adicional de hover para linhas */
.table-hover tbody tr:hover td {
    background-color: #4a6278;
}

/* Alinhamento */
.align-middle {
    vertical-align: middle;
}
  </style>
  