<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação INSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <nav id="navbar">
            <i class="fa-solid fa-burger" id="navicon"> CALCULADORA GRP</i>

            <ul id="nav_list">
                <li class="nav_item">
                    <a href="{{ url_for('dashboard') }}">Home</a>
                </li>
                <li class="nav_item">
                    <a href="{{ url_for('sobre') }}">Como usar</a>
                </li>
                <li class="nav_item">
                    <a href="{{ url_for('contato') }}">Contato</a>
                </li>
                <li class="nav_item">
                    <a href="{{ url_for('perfil') }}">Meu Perfil</a>
                </li>

            </ul>
        </nav>

    </header>
</body>
</html>