<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação INSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <link rel="icon" href="/static/assets/GRP branding.LOGOMARCA.png" type="image/x-icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <nav id="navbar">
            <i class="fa-solid fa-burger" id="navicon">
                <a href="{{ url_for('sobre') }}"><img src="../static/assets/GRP branding.LOGOMARCA.png" alt="Logo" id="logo"></a>
            </i>
            <ul id="nav_list">
                <li class="nav_item"><a href="{{ url_for('sobre') }}">Home</a></li>
                <li class="nav_item"><a href="#">Dúvidas e Suporte</a></li>
                <li class="nav_item"><a href="{{ url_for('getUser') }}">Meu Perfil</a></li>
                <li class="nav_item"><a href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="page-background">
            <div class="container pt-5 flex flex-column justify-center">
                
                <!-- Exibir Nome e Email do Usuário -->
                {% if user %}
                    <h2 class="mb-3">Bem-vindo, {{ user.name }}</h2>
                    <h2 class="mb-3">Dados do Usuário:</h2>
                    <div class="input-container mb-3">
                        <label>Email:</label>
                        <input class="input" type="password" placeholder="{{ user.email }}" />
                    </div>  <!-- Certifique-se de que o modelo User tenha um campo 'name' -->
                {% else %}
                    <p>Usuário não encontrado.</p>
                {% endif %}
                
                <form method="POST" action="{{ url_for('mudarSenha') }}">
                    <h2 class="mb-3">Alterar Senha</h2>
                    {% if senha_mensagem %}
                        <span class="invalid-feedback" role="alert">
                            <strong style="color: green;">{{ senha_mensagem }}</strong>
                        </span>
                    {% endif %}
                   
                    <div class="input-container mb-3">
                        <label>Nova Senha:</label>
                        <input class="input" type="password" name="new_password" required id="new_password" />
                    </div>
                
                    <div class="input-container mb-3">
                        <label>Confirmar Senha:</label>
                        <input class="input" type="password" name="confirm_password" id="confirm_password" />
                    </div>
                    {% if senha_error %}
                        <span class="invalid-feedback" role="alert">
                            <strong style="color: red;">{{ senha_error }}</strong>
                        </span>
                    {% endif %}
                  
                    <div class="btns flex mt-4 gap-05">
                        <button class="base-button" type="submit">Alterar Senha</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="logos">
                <div class="footer-left">
                    <!-- Logo -->
                    <img src="/static/assets/GRP branding.LOGOMARCA.png" alt="Logo" class="footer-logo">
                </div>
                <div class="footer-links">
                    <a href="https://guiarendaprevidencia.com.br/app-quemsomos/">Quem Somos</a>
                    <a href="#como-funciona">Como Funciona</a>
                    <a href="https://guiarendaprevidencia.com.br/duvidas-comuns-app/">Dúvidas Comuns</a>
                    <a href="https://guiarendaprevidencia.com.br/politicas-de-privacidade-app/">Política de Privacidade</a>
                    <a href="https://guiarendaprevidencia.com.br/fale-conosco-app/">Fale Conosco</a>
                </div>
            </div>
            <div class="footer-copyright">
            </div>
        </div>
    </footer>
</body>
</html>
