<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação INSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="/static/assets/GRP branding.LOGOMARCA.png" type="image/x-icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <nav id="navbar">
            <i class="fa-solid fa-burger" id="navicon">
                <img src="../static/assets/GRP branding.LOGOMARCA.png" alt="Logo" id="logo">
            </i>
            <ul id="nav_list">
                <li class="nav_item"><a href="{{ url_for('sobre') }}">Home</a></li>
                <li class="nav_item"><a href="#">Dúvidas e Suporte</a></li>
                <li class="nav_item"><a href="{{ url_for('getUser') }}">Meu Perfil</a></li>
                <li class="nav_item"><a href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </nav>
    </header>
    <nav id="navbar-calculadora">
        <ul id="list">
            <li class="nav-list">
                <a href="{{ url_for ('dashboard')}}">Calculadora de Renda</a>
            </li>
            <li class="nav-list">
                <a href="{{ url_for ('desejada')}}">Renda Desejada</a>
            </li>
        </ul> 
    </nav>

    <div class="container">
        <div class='Titulo'>
            <h1>Planeje Renda Futura: INSS, Desejada & Possível</h1>
            <h6>Planeje & Calcule sua Renda Futura em 2 Etapas</h6>
            <p>Em duas etapas, descubra sua Renda Futura resultado da soma do seu esforço de poupança e do seu Benefício de Aposentadoria!</p>
        </div>
        <div class="calculadora">
            <h2>Cálculo Renda Possivel Futura</h2>
            <form id="income-simulation-form" method="POST" action="{{ url_for('criar_grafico_rendaPossivel')}}">
                <label for="id_ini">Idade Atual:</label>
                <input type="number" id="id_ini" name="id_ini" min="15" max="100" value="25">
                
                <label for="id_apos">Idade Aposentadoria:</label>
                <input type="number" id="id_apos" name="id_apos" min="15" max="120" value="65">
                
                <label for="id_exp">Expectativa de Vida:</label>
                <input type="number" id="id_exp" name="id_exp" min="15" max="150" value="85">
                
                <label for="id_reser">Reserva Financeira Atual (R$):</label>
                <input type="number" id="id_reser" name="id_reser" min="0" value="1000">
                
                <label for="id_tx">Taxa real ano (%):</label>
                <input type="number" id="id_tx" name="id_tx" min="0.1" value="4">
                
                <label for="id_inss">Benefício Esperado INSS (R$):</label>
                <input type="number" id="id_inss" name="id_inss" min="0" value="0">
                
                <label for="id_dese">Renda Mensal DESEJADA (R$):</label>
                <input type="number" id="id_dese" name="id_dese" min="0" value="1000">
                
                <label for="id_poss">Poupança Mensal POSSÍVEL (R$):</label>
                <input type="number" id="id_poss" name="id_poss" min="0" value="100">
                <button type="submit" id="submit-button2">Condição p/ Renda Possível</button>
            </form>
            
        </div>
    </div>  

    <footer class="footer">
        <div class="footer-content">
            <div class="logos">
                <div class="footer-left">
                    <!-- Logo -->
                    <img src="/static/assets/GRP branding.LOGOMARCA.png" alt="Logo" class="footer-logo">
                </div>
                <div class="footer-links">
                    <a href="#quem-somos">Quem Somos</a>
                    <a href="#como-funciona">Como Funciona</a>
                    <a href="#suporte">Suporte 24h</a>
                    <a href="#politica">Política de Privacidade</a>
                    <a href="#contato">Fale Conosco</a>
                </div>
            </div>
            <div class="footer-copyright">
            </div>
        </div>
    </footer>
    
    
</body>
</html>

