<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação INSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="/static/assets/GRP branding.LOGOMARCA.png" type="image/x-icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <nav id="navbar">
            <i class="fa-solid fa-burger" id="navicon">
                <a href="{{ url_for('sobre') }}"><img src="../static/assets/GRP branding.LOGOMARCA.png" alt="Logo" id="logo"></a>
            </i>
            <ul id="nav_list">
                <li class="nav_item"><a href="{{ url_for('sobre') }}">Home</a></li>
                <li class="nav_item"><a href="{{ url_for('ia') }}">Consulte nossa AI</a></li>
                <li class="nav_item"><a href="{{ url_for('getUser') }}">Meu Perfil</a></li>
                <li class="nav_item"><a href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </nav>
    </header>
    <nav id="navbar-calculadora">
        <ul id="list">
            <div class="veja-tambem">
                <span>Veja também:</span>
            </div>
            <li class="nav-list">
                <a href="{{ url_for ('dashboard')}}">Calculadora de Renda INSS</a>
            </li>
            <li class="nav-list">
                <a href="{{ url_for ('desejada')}}">Renda Desejada</a>
            </li>
        </ul> 
    </nav>

    <div class="container">
        <div class='titulo'>
            <h1>Planeje sua Renda Futura</h1> 
            <h4>Calcule sua Renda Futura em 3 Etapas</h4>
            <p>Calcule a projeção de Renda do INSS e associe a sua Renda DESEJADA e/ou Renda POSSÍVEL <br>
                verificando o impacto no seu esforço de investimento.</p>
        </div>
        {% if form_data %}
            <div class="calculadora">
                <h2 style="color: #ff4500;">Cálculo RENDA POSSÍVEL Futura</h2>
                <form id="income-simulation-form" method="POST" action="{{ url_for('criar_grafico_rendaPossivel')}}">
                    <label for="id_ini">Idade Atual:</label>
                    <input type="number" id="id_ini" name="id_ini" min="15" max="100" value="{{ form_data.id_ini if form_data.id_ini else 0 }}">

                    {% if erro_idade_inicial %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_idade_inicial }}</strong>
                    </div>
                    {% endif %}
                    
                    <label for="id_apos">Idade Aposentadoria:</label>
                    <input type="number" id="id_apos" name="id_apos" min="15" max="120" value="{{ form_data.id_apos if form_data.id_apos else 0 }}">

                    {% if erro_idade_aposentadoria %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_idade_aposentadoria }}</strong>
                    </div>
                    {% endif %}
                    
                    <label for="id_exp">Expectativa de Vida:</label>
                    <input type="number" id="id_exp" name="id_exp" min="15" max="150" value="{{ form_data.id_exp if form_data.id_exp else 0 }}">

                    {% if erro_expectativa %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_expectativa }}</strong>
                    </div>
                    {% endif %}
                    
                    <label for="id_reser">Reserva Financeira Atual (R$):</label>
                    <input type="number" id="id_reser" name="id_reser" min="0" value="{{ form_data.id_reser if form_data.id_reser else 0 }}">

                    {% if erro_reserva %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_reserva }}</strong>
                    </div>
                    {% endif %}
                    
                    <label for="id_tx">Taxa real ano (%):</label>
                    <input type="text" id="id_tx" name="id_tx" value="{{ form_data.id_tx if form_data.id_tx else 0 }}">
                    
                    {% if erro_taxa %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_taxa }}</strong>
                    </div>
                    {% endif %}

                    <label for="id_inss">Benefício Esperado INSS (R$):</label>
                    <input type="number" id="id_inss" name="id_inss" min="0" value="{{ form_data.id_inss if form_data.id_inss else 0 }}">

                    {% if erro_beneficio %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_beneficio }}</strong>
                    </div>
                    {% endif %}
                    
                    <label for="id_poss">Poupança Mensal POSSÍVEL (R$):</label>
                    <input type="number" id="id_poss" name="id_poss" min="0" value="{{ form_data.id_poss if form_data.id_poss else 100 }}">

                    {% if erro_poupanca %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_poupanca }}</strong>
                    </div>
                    {% endif %}
                    
                    <div class="button-class" style="display: flex;">
                        <button type="submit" name="submit-button" value="1" id="submit-button1">CÁLCULO Renda Possível</button>
                        <button type="submit" name="submit-button" value="2" id="submit-button2" style="margin-left: 20px;">Gerar PDF</button>
                        <p style="margin-left: 20px; color: #555555;">Desejando o download com o resultado do CÁLCULO, acione o botão ‘Gerar PDF’</p>
                    </div>

                    {% if erro_server %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_server }}</strong>
                    </div>
                    {% endif %}

                    <div class="container">
                        {% if graph_base64 %}
                            <div class="center-container">
                                <!-- Aumenta o tamanho do iframe e ajusta para tela cheia -->
                                <img src="data:image/png;base64,{{ graph_base64 }}" alt="Gráfico Renda Desejada"></img>
                            </div>
                        {% endif %}
                    </div>
                </form>
        {% else %}
            <div class="calculadora">
                <h2 style="color: #ff4500;">Cálculo RENDA POSSÍVEL Futura</h2>
                <form id="income-simulation-form" method="POST" action="{{ url_for('criar_grafico_rendaPossivel')}}">
                    <label for="id_ini">Idade Atual:</label>
                    <input type="number" id="id_ini" name="id_ini" min="15" max="100" value="25">
    
                    {% if erro_idade_inicial %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_idade_inicial }}</strong>
                    </div>
                    {% endif %}
                    
                    <label for="id_apos">Idade Aposentadoria:</label>
                    <input type="number" id="id_apos" name="id_apos" min="15" max="120" value="65">
    
                    {% if erro_idade_aposentadoria %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_idade_aposentadoria }}</strong>
                    </div>
                    {% endif %}
                    
                    <label for="id_exp">Expectativa de Vida:</label>
                    <input type="number" id="id_exp" name="id_exp" min="15" max="150" value="85">
    
                    {% if erro_expectativa %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_expectativa }}</strong>
                    </div>
                    {% endif %}
                    
                    <label for="id_reser">Reserva Financeira Atual (R$):</label>
                    <input type="number" id="id_reser" name="id_reser" min="0" value="1000">
    
                    {% if erro_reserva %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_reserva }}</strong>
                    </div>
                    {% endif %}
                    
                    <label for="id_tx">Taxa real ano (%):</label>
                    <input type="text" id="id_tx" name="id_tx" value="4">
                    
                    {% if erro_taxa %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_taxa }}</strong>
                    </div>
                    {% endif %}
    
                    <label for="id_inss">Benefício Esperado INSS (R$):</label>
                    <input type="number" id="id_inss" name="id_inss" min="0" value="0">
    
                    {% if erro_beneficio %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_beneficio }}</strong>
                    </div>
                    {% endif %}
                    
                    <label for="id_poss">Poupança Mensal POSSÍVEL (R$):</label>
                    <input type="number" id="id_poss" name="id_poss" min="0" value="100">
    
                    {% if erro_poupanca %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_poupanca }}</strong>
                    </div>
                    {% endif %}
                    
                    <div class="button-class" style="display: flex;">
                        <button type="submit" name="submit-button" value="1" id="submit-button1">CÁLCULO Renda Possível</button>
                        <button type="submit" name="submit-button" value="2" id="submit-button2" style="margin-left: 20px;">Gerar PDF</button>
                        <p style="margin-left: 20px; color: #555555;">Desejando o download com o resultado do CÁLCULO, acione o botão ‘Gerar PDF’</p>
                    </div>
    
                    {% if erro_server %}
                    <div class="error-message">
                        <strong style="color: red;">{{ erro_server }}</strong>
                    </div>
                    {% endif %}
    
                    <div class="container">
                        {% if graph_base64 %}
                            <div class="center-container">
                                <!-- Aumenta o tamanho do iframe e ajusta para tela cheia -->
                                <img src="data:image/png;base64,{{ graph_base64 }}" alt="Gráfico Renda Possível"></img>
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        {% endif %}
            <div class="titulo">
                <h4>Realize ‘CALCULOS’ e ‘Gere PDF’ dos resultados para download clicando nos botões acima</h4>
                <p>Duvidas! CONSULTE nossa AI clicando em ícone nesta página! </p>
            </div>
            
        </div>
    </div>  

    <footer class="footer">
        <!-- Logo Centralizada -->
        <div class="footer-logo">
            <img src="/static/assets/GRP branding.LOGOMARCA.png" alt="Logo">
        </div>
        
        <!-- Links Centralizados -->
        <div class="footer-links">
            <a href="https://guiarendaprevidencia.com.br/app-quemsomos/">Quem Somos</a>
            <a href="https://guiarendaprevidencia.com.br/como-funciona/">Como Funciona</a>
            <a href="https://guiarendaprevidencia.com.br/duvidas-comuns-app/">Dúvidas Comuns</a>
            <a href="https://guiarendaprevidencia.com.br/politicas-de-privacidade-app/">Política de Privacidade</a>
            <a href="https://guiarendaprevidencia.com.br/fale-conosco-app/">Fale Conosco</a>
        </div>
    
        <!-- Direitos Reservados Centralizados -->
        <div class="footer-copyright">
            GRP 2024 © P&D DIGITAL LTDA. Todos os direitos reservados. CNPJ: 44.325.141/0001-50
        </div>
    </footer>
    
    
</body>
</html>

<style>
    .error-message {
        margin-bottom: 10px;
    }

    .center-container {
            text-align: center;
            margin-top: 20px;
        }

        /* Estilo do iframe para o PDF */
        .center-container img {
            width: 100%;  /* Faz o iframe ocupar 100% da largura da tela */
            height: 100vh; /* Faz o iframe ocupar a altura total da janela */
            border: none;  /* Remove as bordas do iframe */
            margin-bottom: 20px;
        }
</style>
