<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação INSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <main>
        <header>
            <nav id="navbar">
                <i class="fa-solid fa-burger" id="navicon">
                    <img src="../static/assets/GRP branding.LOGOMARCA.png" alt="Logo" id="logo"> 
                </i>
                <ul id="nav_list">
                    <li class="nav_item"><a href="{{ url_for('sobre') }}">Home</a></li>
                    <li class="nav_item"><a href="{{ url_for('dashboard') }}">Cálculo INSS</a></li>
                    <li class="nav_item"><a href="#">Dúvidas e Suporte</a></li>
                    <li class="nav_item"><a href="{{ url_for('getUser') }}">Meu Perfil</a></li>
                    <li class="nav_item"><a href="{{ url_for('logout') }}">Sair</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="container">
                {% if grafico_base64 %}
                    <img src="data:image/png;base64,{{ grafico_base64 }}" alt="Gráfico Renda Possível" style="width:100%; margin-top: 20px;">
                {% else %}
                    <img src="/static/assets/download (1).jpeg" alt="Nada Encontrado" style="width:100%; margin-top: 20px;">
                    <h2>Ops, Nenhum Dado Encontrado</h2>
                {% endif %}
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="logos">
                <div class="footer-left">
                    <!-- Logo -->
                    <img src="/static/assets/GRP branding.LOGOMARCA.png" alt="Logo" class="footer-logo">
                </div>
                <div class="footer-links">
                    <a href="#quem-somos">Quem Somos</a>
                    <a href="#como-funciona">Como Funciona</a>
                    <a href="#suporte">Suporte 24h</a>
                    <a href="#politica">Política de Privacidade</a>
                    <a href="#contato">Fale Conosco</a>
                </div>
            </div>
            <div class="footer-copyright">
            </div>
        </div>
    </footer>
</body>
