<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação INSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="/static/assets/GRP branding.LOGOMARCA.png" type="image/x-icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>

        /* Contêiner para centralizar a imagem e o texto */
        .center-container {
            text-align: center;
        }

        /* Estilo para a imagem */
        .center-container img {
            width: 450px;
            height: 450px;
            margin-bottom: 20px;
        }

        /* Estilo para o texto */
        .center-container h2 {
            font-size: 28px;
            color: #333;
            font-weight: bold;
        }
    </style>    
</head>
<body>
    <main>
        <header>
            <nav id="navbar">
                <i class="fa-solid fa-burger" id="navicon">
                    <a href="{{ url_for('sobre') }}"><img src="../static/assets/GRP branding.LOGOMARCA.png" alt="Logo" id="logo"></a>
                </i>
                <ul id="nav_list">
                    <li class="nav_item"><a href="{{ url_for('sobre') }}">Home</a></li>
                    <li class="nav_item"><a href="#">Dúvidas e Suporte</a></li>
                    <li class="nav_item"><a href="{{ url_for('getUser') }}">Meu Perfil</a></li>
                    <li class="nav_item"><a href="{{ url_for('logout') }}">Sair</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="container">
                {% if grafico_base64 %}
                    <img src="data:image/png;base64,{{ grafico_base64 }}" alt="Gráfico Renda Possível" style="width:100%; margin-top: 20px;">
                {% else %}
                    <div class="center-container">
                        <img src="/static/assets/7265556.webp" alt="Nada Encontrado">
                        <h2>Ops, Nenhum Dado Encontrado</h2>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="logos">
                <div class="footer-left">
                    <!-- Logo -->
                    <img src="/static/assets/GRP branding.LOGOMARCA.png" alt="Logo" class="footer-logo">
                </div>
                <div class="footer-links">
                    <a href="https://guiarendaprevidencia.com.br/app-quemsomos/">Quem Somos</a>
                    <a href="https://guiarendaprevidencia.com.br/como-funciona/">Como Funciona</a>
                    <a href="https://guiarendaprevidencia.com.br/duvidas-comuns-app/">Dúvidas Comuns</a>
                    <a href="https://guiarendaprevidencia.com.br/politicas-de-privacidade-app/">Política de Privacidade</a>
                    <a href="https://guiarendaprevidencia.com.br/fale-conosco-app/">Fale Conosco</a>
                </div>
            </div>
            <div class="footer-copyright">
            </div>
        </div>
    </footer>
</body>
