<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação INSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="/static/assets/GRP branding.LOGOMARCA.png" type="image/x-icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <nav id="navbar">
            <i class="fa-solid fa-burger" id="navicon">
                <a href="{{ url_for('sobre') }}"><img src="../static/assets/GRP branding.LOGOMARCA.png" alt="Logo" id="logo"></a>
            </i>
            <ul id="nav_list">
                <li class="nav_item"><a href="{{ url_for('sobre') }}">Home</a></li>
                <li class="nav_item"><a href="#">Dúvidas e Suporte</a></li>
                <li class="nav_item"><a href="{{ url_for('getUser') }}">Meu Perfil</a></li>
                <li class="nav_item"><a href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
        
            <div id="cta">
                <h1 class="title">
                    Seja Muito Bem Vindo Ao <br>
                    <span>Sistema de Cálculo GRP</span>
                </h1>
                
                <div id="cta_container">
                    <div id="cta_botao">
                        <a href="{{ url_for('dashboard') }}" class="button">Cálculo <span>PREVIDÊNCIA PRIVADA</span></a>
                    </div>
                    <div id="cta_botao">
                        <a href="{{ url_for('possivel') }}" class="button">Previdência + Rendimentos • <span>POSSÍVEL</span></a>
                    </div>
                    <div id="cta_botao">
                        <a href="{{ url_for('desejada') }}" class="button">Previdência + Rendimentos • <span>RENDA DESEJADA</span></a>
                    </div>
                </div>

                <div class="instrucao">
                    <h2>Instruções de Uso</h2>
                    <p>
                        Para fazer o Cálculo de renda é <br>
                        preciso que você baixe o CNIS <br>
                        no site da Previdência e anexe aqui o <br>
                        mesmo aqui na calculadora.
                    </p>

                    <div id="cta_botao2">
                        <a href="#menu" class="button">ASSISTA O VÍDEO EM COMO BAIXAR</a>
                    </div>
                </div>
    
            </div>
            
        </section>
        <section id="menu">
            <h2 class="section-title"> Como Conseguir o seu CNIS? </h2>
            <iframe width="1080" height="720" style="margin: auto;"
                src="https://www.youtube.com/embed/zqFCXijSTwY" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="logos">
                <div class="footer-left">
                    <!-- Logo -->
                    <img src="/static/assets/GRP branding.LOGOMARCA.png" alt="Logo" class="footer-logo">
                </div>
                <div class="footer-links">
                    <a href="#quem-somos">Quem Somos</a>
                    <a href="#como-funciona">Como Funciona</a>
                    <a href="#suporte">Suporte 24h</a>
                    <a href="#politica">Política de Privacidade</a>
                    <a href="#contato">Fale Conosco</a>
                </div>
            </div>
            <div class="footer-copyright">
            </div>
        </div>
    </footer>
</body>
</html>