<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação INSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="/static/assets/GRP branding.LOGOMARCA.png" type="image/x-icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <nav id="navbar">
            <i class="fa-solid fa-burger" id="navicon">
                <a href="{{ url_for('sobre') }}"><img src="../static/assets/GRP branding.LOGOMARCA.png" alt="Logo" id="logo"></a>
            </i>
            <ul id="nav_list">
                <li class="nav_item"><a href="{{ url_for('sobre') }}">Home</a></li>
                <li class="nav_item"><a href="{{ url_for('ia') }}">Consulte nossa AI</a></li>
                <li class="nav_item"><a href="{{ url_for('getUser') }}">Meu Perfil</a></li>
                <li class="nav_item"><a href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <div id="cta">
                <h1 class="title">
                    Seja Muito Bem Vindo Ao <br>
                    <span>Sistema de Cálculo GRP</span>
                </h1>
                
                <div id="cta_container">
                    <div id="cta_botao">
                        <a href="{{ url_for('dashboard') }}" class="button"><span>PREVIDÊNCIA PÚBLICA</span> • Calculadora</a>
                        <button class="info-button" onclick="openModal('previdencia')">?</button>
                    </div>
                    <div id="cta_botao">
                        <a href="{{ url_for('possivel') }}" class="button"><span>RENDA POSSÍVEL</span> • Previdência + Carteira de Investimentos</a>
                        <button class="info-button" onclick="openModal('renda-possivel')">?</button>
                    </div>
                    <div id="cta_botao">
                        <a href="{{ url_for('desejada') }}" class="button"><span>RENDA DESEJADA</span> • Previdência + Carteira de Investimentos</a>
                        <button class="info-button" onclick="openModal('renda-desejada')">?</button>
                    </div>
                </div>

                <div class="instrucao">
                    <h2>Instruções de Uso</h2>
                    <p>
                        Para fazer o Cálculo da sua Renda na<br>
                        Previdência é preciso que você baixe<br>
                        O CNIS no site da Previdência<br>
                        e anexe o mesmo aqui na calculadora.
                    </p>

                    <div id="cta_botao2">
                        <a href="#menu" class="button">ASSISTA O VÍDEO E SAIBA COMO BAIXAR</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div id="infoModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p id="modal-text"></p>
            </div>
        </div>

        <section id="menu">
            <h2 class="section-title" style="color: black; font-size: 27px; margin-bottom: 60px;">Como Conseguir o seu CNIS?</h2>
            <iframe width="1080" height="720" style="margin: auto;"
                src="https://www.youtube.com/watch?v=ZSCSkoW3zKQ" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </section>
        <div class="titulo">
            <p style="font-size: 18px; font-family: 'Roboto', sans-serif;">"Se você quer ser bem sucedido,<br> precisa ter dedicação total, buscar <br>seu último limite e dar o melhor de si"<br><span><h2 style="color: black;">Ayrton Senna</h2></span></p>
        </div>
    </main>
    <footer class="footer">
        <!-- Logo Centralizada -->
        <div class="footer-logo">
            <img src="/static/assets/GRP branding.LOGOMARCA.png" alt="Logo">
        </div>
        
        <!-- Links Centralizados -->
        <div class="footer-links">
            <a href="https://guiarendaprevidencia.com.br/app-quemsomos/">Quem Somos</a>
            <a href="https://guiarendaprevidencia.com.br/como-funciona/">Como Funciona</a>
            <a href="https://guiarendaprevidencia.com.br/duvidas-comuns-app/">Dúvidas Comuns</a>
            <a href="https://guiarendaprevidencia.com.br/politicas-de-privacidade-app/">Política de Privacidade</a>
            <a href="https://guiarendaprevidencia.com.br/fale-conosco-app/">Fale Conosco</a>
        </div>
    
        <!-- Direitos Reservados Centralizados -->
        <div class="footer-copyright">
            GRP 2024 © P&D DIGITAL LTDA. Todos os direitos reservados. CNPJ: 44.325.141/0001-50
        </div>
    </footer>
    

    <script>
        // Função para abrir o modal
        function openModal(type) {
            const modal = document.getElementById('infoModal');
            const modalText = document.getElementById('modal-text');

            // Define o conteúdo com base no botão clicado
            if (type === 'previdencia') {
                modalText.textContent = 'Clique para iniciar o cálculo de renda Previdência é baseado nas contribuições que você já fez ao INSS e nas regras vigentes da previdência. Em caso de dúvidas, ‘Consulte Nossa AI’ ';
            } else if (type === 'renda-possivel') {
                modalText.textContent = 'Clique para iniciar o cálculo da Renda Desejada que leva em consideração o valor que você gostaria de receber mensalmente na aposentadoria e mostra o quanto você precisará poupar hoje para atingir este valor. Em caso de dúvidas, ‘Consulte Nossa AI’';
            } else if (type === 'renda-desejada') {
                modalText.textContent = 'Clique para iniciar o cálculo da Renda Possível que leva em consideração o quanto você consegue hoje poupar mensalmente e mostra o quanto conseguirá receber mensamente na aposentaria com esta poupança. Em caso de dúvidas, ‘Consulte Nossa AI’';
            }

            modal.style.display = 'block';
        }

        // Função para fechar o modal
        function closeModal() {
            const modal = document.getElementById('infoModal');
            modal.style.display = 'none';
        }

        // Fechar o modal se o usuário clicar fora da janela
        window.onclick = function(event) {
            const modal = document.getElementById('infoModal');
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        }
    </script>
</body>
</html>
