<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Refazer Senha</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="icon" href="/static/assets/GRP branding.LOGOMARCA.png" type="image/x-icon">
</head>
<body>
  <div class="login-view-container">
    <div class="overlay"></div>
    <div class="form-container">
      <form id="login-form" class="form" action='{{ url_for('forgotPassword') }}' method="POST">
        <div class="titulo">
          <img src="/static/assets/GRP branding.LOGOMARCA.png" alt="" width="120" height="150">
          <h2>Refazer Sua Senha</h2>
          <div class="barra-horizontal"></div>
        </div>
        <div class="campo-input">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Insira seu email" required>
            {% if error_email %}
            <span class="invalid-feedback" role="alert">
              <strong style="color: red;">{{ error_email }}</strong>
            </span>
            {% endif %}
        </div>
        <div class="campo-input">
            <label for="password">Senha</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Insira sua senha"
              required
            />
            {% if error_password %}
            <span class="invalid-feedback" role="alert">
              <strong style="color: red;">{{ error_password }}</strong>
            </span>
            {% endif %}
        </div>
  
        <div class="campo-input">
            <label for="password_confirmation">Confirme sua senha</label>
            <input
              type="password"
              id="password_confirmation"
              name="password_confirmation"
              placeholder="Confirme sua senha"
              required
            />
        </div>
        <button type="submit">
          <span>Enviar</span>
        </button>
      </form>
    </div>
  </div>
</body>
</html>